@import '~antd/dist/antd.css';
@import './customized_steps.css';
@import './Contact.css';

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #0C0C0C;
  width: 100%;
  height: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.Section, .Section_last {
  scroll-snap-align: start;
}

.App-logo {
  width: 10vw;
  min-width: 100px;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

.App-left{
  position: fixed;
  left: 0px;
  top: 0px;
  /* background-color: gray; */
  width: 20vw;
  min-width: 90px;

  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 3vw;
  padding-top: 2vw;
}

.Section{
  padding-left: 20vw;
  padding-right: 5vw;
  /* background-color: #ffffff33; */
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  border-top: 1px solid gray;
}

.Section_last{
  width: 100vw;
  height: 100vh;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  /*background:url('./static/logos/Contact_bg@2x.png') ;*/
  background-size: cover;
}

.Section_last__content{
  padding-left: 20vw;
  padding-right: 5vw;
  border-top: 1px solid gray;
  flex: 1;
}

footer{
  background-color: #252525;
  min-height: 5vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Portfolios-center > div {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: calc(5px + 0.2vw);
}

.Portfolios img {
  margin-bottom: 0.8em;
  width: calc(10vmin);
  height: calc(10vmin);
  /*border: 1px dashed white;*/
  border-radius: 200px;
}

.Portfolios {
  /*background-image: url('./static/Portfolios_bg@2x.png');*/
  /*background-size: cover;*/
}

.Portfolios-center {
  display: flex;
  flex-flow: row wrap;
}

.Intro {
  color: white !important;
}

.Intro-h {
  font-size: calc(15px + 1.5vw);
  font-family: 'PingFangSC-Semibold', 'PingFang SC';
  font-weight: 600;
  color: #FFFFFF;
  line-height: calc(15px + 1.5vw);
  letter-spacing: 5px;
  margin-right: 10vw;
  margin-bottom: 5vw;
  margin-top: 7.5vw;
}

.Intro-p {
  /*width: calc(500px + 25vw);*/
  margin-right:10vw;
  font-size: calc(10px + 0.7vw) !important;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  color: #FFFFFF;
  line-height: calc(16px + 1vw);
  letter-spacing: 2px;

  text-align: justify;

  position: relative;
  z-index: 2;
}

.mobile .Intro-p { word-break: break-all; }

.Intro-img-container {
  position: relative;
  z-index: 1;
}

.Intro-img {
  position: absolute;
  width: 15vw;
  right: 15vw;
  top: -10vh;
  z-index: 1;
}

.Home-h {
  width: 32.125vw;
  min-width: 32.125vw;
  height: 28.729vw;
  font-size: 5.116vw;
  font-family: Arial-Black, Arial;
  font-weight: 900;
  color: #FFFFFF !important;
  line-height: 12.5vh;
  text-align: left;
  margin-top: 7.204vw;

  position: relative;
  z-index: 2;
}

.Home-h-mobile {
  width: 32.125vw;
  min-width: 32.125vw;
  height: 28.729vw;
  font-size: 5.116vw;
  font-family: Arial-Black, Arial;
  font-weight: 900;
  color: #FFFFFF !important;
  text-align: left;
  margin-top: 7.204vw;

  position: relative;
  z-index: 2;
}
.Home-hr {
  margin-top: calc(50px + 25vh - 15vw); /* fit for more sizes of screen */
  width: 76vw;
  height: 3px;
  background: #252525;
}

.Home-hr-block {
  width: 60px;
  height: 10px;
  background: #0F33FF;
}

.Home-horizontal {
  display: flex;
  flex-direction: row;
}

.Home-img {
  width: 40.3vw;
  position: relative;
  left: -4.42vw;
  top: calc(50px + 25vh - 15vw); /* fit for more sizes of screen */
  z-index: 1;
}